@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Light theme (default) */
body {
  font-family:
    var(--font-fira-code), var(--font-sans), var(--font-mono), monospace;
  font-size: 0.8rem;
}
