---
interface Props {
  title: string;
  description: string;
  date: Date;
  slug: string;
  tags?: string[];
}

const { title, description, date, slug, tags } = Astro.props;
---

<a
  href={`/blog/${slug}`}
  class="group/card w-auto pb-2 border-b border-orange-300 block"
>
  <time class="text-sm text-orange-500">
    {
      date.toLocaleDateString("en-US", {
        year: "numeric",
        month: "long",
        day: "numeric",
      })
    }
  </time>
  <h3
    class="w-auto text-xl font-bold mt-2 mb-3
    group-hover/card:text-orange-500 text-gray-900 transition-colors"
  >
    {title}
  </h3>
  <p class="text-gray-600 w-auto text-ellipsis">
    {description}
  </p>
</a>
