---
import BirdSvg from "./svgs/BirdSvg.astro";
import CloudBackgroundSvg from "./svgs/CloudBackgroundSvg.astro";
---

<script>
  import { glitch_animation } from "../utils/animations";
  glitch_animation("#coming-soon_text");
</script>

<div class="size-full flex items-center justify-center flex-col gap-4 flex-1">
  <div class="relative">
    <CloudBackgroundSvg />
    <div class="absolute inset-0 flex items-center justify-center">
      <BirdSvg />
    </div>
  </div>
  <div
    class="text-gray-700 font-bold text-[clamp(1rem,3vw,3rem)] tracking-tight"
  >
    <h1 id="coming-soon_text">Coming Soon ...</h1>
  </div>
</div>
