---

---

<script>
  import { glitch_animation } from "../utils/animations";
  glitch_animation("#coming-soon_text");
</script>

<div
  class="w-screen h-screen flex items-center justify-center text-gray-700 font-bold text-[clamp(1rem,3vw,3rem)] tracking-tight"
>
  <h1 id="coming-soon_text">Coming Soon ...</h1>
</div>
