---
const date = new Date();
---
<footer class="bg-gray-800 text-white py-4">
  <div class="container mx-auto text-center">
    <p>&copy;  {date.getFullYear()} My Website. All rights reserved.</p>
    <p>Designed by Tife</p>
  </div>
</footer>

